<section class="outer">
     <!-- 介绍 -->
     <h1 class="page-type-title">关于我！</h1>

    <div style="background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);border-radius: 23px;">
        <div style="display: flex;justify-content: space-around;align-items: center;padding: 30px;">
            <div style="flex:1;">
                <div style="font-size: 16px;font-weight: bolder;">
                    本人是一名奋斗在职场的小码农,建立个人网站的初衷是希望拥有一个能够有一个随时展示自己,同时记录各种技术文章,总结工作学习内容和分享个人经历的个人小笔记,同时也会更新发布一些动漫,游戏等偏个人兴趣爱好的文章
                </div>
            </div>
            <div id="reword-out" style="flex:1;display: flex;flex-direction: column;align-items: flex-end;">
                    <img src="/images/lingguang.jpg" width="150" height="150" style="border-radius: 50%;box-shadow:10px 10px 10px rgb(0, 0, 0, .5); ">
                    <div id="reward-btn" style="display: flex;justify-content: center;align-items: center;margin: 10px -25px 0px 0px;width: 100px;">
                    <%= __('post.reward') %>
                    </div>
            </div>
        </div>
    </div >
       <!-- 链接 -->
       <h1 class="page-type-title">点击进去看看吧！</h1>
    <div>
    <% if(theme.friends_link && theme.friends_link.length != 0){ %>
            <ul id="friends_link">
                <% for (var i in theme.friends_link){ %>
                <li class="friends_li">
                    <a href="<%- url_for(theme.friends_link[i].url) %>" target="_blank" class="search-title"
                        <% if (theme.friends_link[i].description){ %>title="<%= theme.friends_link[i].description %>" <% } %>>
                        <% if (theme.friends_link[i].img){ %>
                        <img src="<%- url_for(theme.friends_link[i].img) %>">
                        <% } else { %>
                        <i class="ri-user-fill"></i>
                        <% } %>
                        <%= i %>
                    </a>
                    <br>
                </li>
                <% } %>
            </ul> 
     <%}%>
    </div>
</section>
   