<section class="outer">
    <% if(theme.friends_link && theme.friends_link.length != 0){ %>
    <h1 class="page-type-title">关于俺！</h1>
    <ul id="friends_link">
        <% for (var i in theme.friends_link){ %>
        <li class="friends_li">
            <a href="<%- url_for(theme.friends_link[i].url) %>" target="_blank" class="search-title"
                <% if (theme.friends_link[i].description){ %>title="<%= theme.friends_link[i].description %>" <% } %>>
                <% if (theme.friends_link[i].img){ %>
                <img src="<%- url_for(theme.friends_link[i].img) %>">
                <% } else { %>
                <i class="ri-user-fill"></i>
                <% } %>
                <%= i %>
            </a>
        </li>
        <% } %>
    </ul>
    <%}%>

    <div style="margin-top: 25%;">
        <p style="font-size: 25px;font-weight: bolder;"> 一位正在北漂的菜鸡程序员</p> 
    </div>
    <div>
        <span style="color: red;"> 姓名：张耀 &nbsp;&nbsp;&nbsp;</span>
    </div> 
    <hr/>
    <div>
        <span style="color: blue;"> QQ：2498652509&nbsp;&nbsp;&nbsp;</span>有志同道合的小伙伴们可以加我qq，验证消息填'博客'+'你的姓名'，我就会通过！
    </div>
    <hr/>
    <div>
        <span style="color:greenyellow;">现居地：北京朝阳&nbsp;&nbsp;&nbsp;</span>  
    </div>
    <hr/>
    <div>
        <span style="color:orange;">家乡：湖北汉川&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>小县城一个，装满了故事，我有故事，你有酒吗？
    </div>
    <hr/>
    <div style="margin-top: 5%;">
        <p style="font-size: 25px;font-weight: bolder;">要是觉得不错，请我喝饮料吧！</p> 
        <div style="display: flex;justify-content: space-between;align-items: center;">
            <img class="reward-img" src="<%- url_for(theme.alipay) %>"  width="45%" height="450px">
            <img class="reward-img" src="<%- url_for(theme.weixin) %>" width="45%" height="450px">
        </div>
    </div>
</section>
   